
:root {
    --bg: #000;
    --main: rgb(255,0,0);
    --white: #ffff;
}

body {
    background-color: var(--bg);
}

.loader {
    position: absolute;
    animation: load 2s;
    width: 30%;
    height: 30px;
    left: 35%;
    top: 45%;
    border: 1px solid var(--white);
}

.loadline {
    position: relative;
    left: 0;
    top: 0;
    width: 0;
    height: 30px;
    background-color: var(--white);
    animation: loadline_animation 2s ease-out;
    animation-delay: 1s;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white);
    margin: 0px 5px;
}

.balls {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    height: 50px;
}

.b-1 {
    opacity: 1;
}

.b-2 {
    opacity: .9;
}

.b-3 {
    opacity: .8;
}

.b-4 {
    opacity: .7;
}

.b-5 {
    opacity: .6;
}

.b-6 {
    opacity: .5;
}

.b-7 {
    opacity: .4;
}

.b-8 {
    opacity: .3;
}

.b-9 {
    opacity: .2;
}

.b-10 {
    opacity: .1;
}

@keyframes loadline_animation {
    0% {
        width: 0px;
    }

    50% {
        width: 30%;
    }

    60% {
        width: 15%;
    }

    70% {
        width: 60%;
    }

    100% {
        width: 100%;
    }
}







