@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,300;1,400&display=swap');


:root {
    --bg: #000;
    --main: rgb(255,0,0);
    --white: #ffff;
}

body {
    background-color: var(--bg);
}

.viktor {
    position: fixed;
    top: 12%;
    width: 30%;
    left: -570px;
    animation: viktor 8s;
}


@keyframes viktor {
    0% {
        /*left: -70px;*/
        left: -300px;
        top: -100px;
    }

    100% {
        /*left: 1500px;*/
        left: 1920px;
        top: 1080px;
    }
}


.loader {
    position: absolute;
    animation: load 2s;
    width: 30%;
    height: 30px;
    left: 35%;
    top: 45%;
    border: 1px solid var(--white);
}

.loadline {
    position: relative;
    left: 0;
    top: 0;
    width: 0;
    height: 30px;
    background-color: var(--white);
    animation: loadline_animation 2s ease-out;
}

.tate {
    position: fixed;
    left: 10px;
    bottom: 30px;
}
/*
.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white);
    margin: 0px 5px;
}

.balls {
    position: absolute;
    top: 200px;
    left: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    height: 50px;
}

.b-1 {
    opacity: 0.1;
    animation: _1 1s;
    
}

.b-2 {
    opacity: 0.1;
    animation-delay: 1s;
    animation: _1 1s;
}

.b-3 {
    opacity: 0.1;
    animation-delay: 2s;
    animation: _1 1s;
}

.b-4 {
    opacity: 0.1;
    animation-delay: 3s;
    animation: _1 1s;
}

.b-5 {
    opacity: 0.1;
    animation-delay: 4s;
    animation: _1 1s;
}

.b-6 {
    opacity: 0.1;
    animation-delay: 5s;
    animation: _1 1s;
}

.b-7 {
    opacity: 0.1;
}

.b-8 {
    opacity: 0.1;
}

.b-9 {
    opacity: 0.1;
}

.b-10 {
    opacity: 0.1;
}
*/
@keyframes loadline_animation {
    0% {
        width: 0px;
    }

    50% {
        width: 30%;
    }

    60% {
        width: 15%;
    }

    70% {
        width: 60%;
    }

    100% {
        width: 100%;
    }
}


@keyframes _1 {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

#virus {
    color: rgb(0,255,0);
    font-family: 'Roboto', 'sans-serif';
    font-weight: 100;
    font-size: 100px;
    text-align: center;
    opacity: 0;
    animation-delay: 3s;
    animation: virus 2.2s;
}


@keyframes virus {
    0% {
        opacity: 1;
    }

    10% {
        opacity: .1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: .1;
    }
    40% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: .1;
    }

    80% {
        opacity: 1;
    }
    90% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }

}


