.btn::after{
    left: 0;
    bottom: 0;
    transition-delay: 0.6s;
  }
.btn span::after{
    transition-delay: 0.4s;
    right: 0;
    bottom: 0
  }
  .btn ::before{
    right: 0;
    top: 0;
    transition-delay: 0.2s;
  }
  .btn span::before{
    transition-delay: 0s;
    left: 0;
    top: 0;
  }
  
  .btn:hover::after{
    transition-delay: 0s;
  }
  .btn:hover span::after{
    transition-delay: 0.2s;
  }
  .btn:hover::before{
    transition-delay: 0.4s;
  }
  .btn:hover span::before{
    transition-delay: 0.6s;
  }